header.banner
    img.logo(src="/img/svg/glasses.svg")
    div.menu
        div.line
        div.line
        div.line
    nav
        ul.list
            li 首页
            li
                a(href='/note',title='笔记') 笔记
            li
                a(href='/pictureWall',title='图片') 图片
            li 更多
                i.iconfont.icon-gengduo
                ul.second
                    li se-1se-1se-1se-1
                    li se-2
                    li se-3
                    li se-4