doctype html
html
   include ./layout
   link(rel='stylesheet',href='/dist/css/pages/pictureWall.css')
   script(src='/js/lib/LazyLoad.js')
   script(src='/js/components/SortBtn.js')
   script(src='/js/pages/pictureWall.js')
   body
      div#picBox.pic-box
      include ./components/sortBtn


