.circle3D{
    position: relative;
    width: 100%;
    height: 600px;
    perspective: 1000px;
}
.circle3D .circle3Ds{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.1,.7,.7,1.3);
    transform-style: preserve-3d;
    -webkit-animation: rotateCircle 60s linear infinite;
    animation: rotateCircle 60s linear infinite;
}
.circle3D .circle3Ds>div{
    position: absolute;
    opacity: .9;
    box-shadow: 0 0 10px rgba(0,0,0,.8) inset,0 0 4px rgba(0,0,0,.9);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.1,.7,.7,1.3);
}

.cube3D{
    position: relative;
    width: 100%;
    height: 600px;
    perspective: 1000px;
}
.cube3D .cube3Ds{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.1,.7,.7,1.3);
    transform-style: preserve-3d;
    -webkit-animation: rotateCube 60s linear infinite;
    animation: rotateCube 60s linear infinite;
}
.cube3D .cube3Ds>div{
    position: absolute;
    opacity: .9;
    box-shadow: 0 0 10px rgba(0,0,0,.8) inset,0 0 4px rgba(0,0,0,.9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.1,.7,.7,1.3);
}

.book3D{
    position: relative;
    width: 100%;
    height: 600px;
    perspective: 1000px;
}
.book3D .book3Ds{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.1,.7,.7,1.3);
    -webkit-animation: rotatebook 10s linear infinite;
    animation: rotatebook 10s linear infinite;
}
.book3D .book3Ds>div{
    position: absolute;
    opacity: .9;
    box-shadow: 0 0 10px rgba(0,0,0,.8) inset,0 0 4px rgba(0,0,0,.9);
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.1,.7,.7,1.3);
}
.book3D .book3Ds .book3D-front{
    width: 100%;
    height: 100%;
    background-position: center center;
    transform-origin: center center;
    transform: translateZ(15px);
}
.book3D .book3Ds .book3D-left{
    width: 30px;
    height: 100%;
    background-position: left center;
    transform-origin: left center;
    transform: translateZ(-15px) rotateY(-90deg);
}
.book3D .book3Ds .book3D-top{
    width: 100%;
    height: 30px;
    background-position: center top;
    transform-origin: top center;
    transform: translateZ(-15px) rotateX(90deg);
}
.book3D .book3Ds .book3D-right{
    width: 30px;
    height: 100%;
    background-position: right center;
    transform-origin: right center;
}
.book3D .book3Ds .book3D-back{
    width: 100%;
    height: 100%;
    background-position: right center;
    transform-origin: center center;
    transform: translateZ(-15px) rotateY(180deg);
}
.book3D .book3Ds .book3D-bottom{
    width: 100%;
    height: 30px;
    background-position: center bottom;
    transform-origin: center bottom;
}

.circle3D .circle3Ds:hover,
.cube3D .cube3Ds:hover,
.book3D .book3Ds:hover{
    animation-play-state: paused;
}
@-webkit-keyframes rotateCircle {
    0%{ -webkit-transform: rotateX(0deg) rotateY(0deg); }
    10%{ -webkit-transform: rotateX(-6deg) rotateY(36deg); }
    20%{ -webkit-transform: rotateX(-12deg) rotateY(72deg); }
    25%{ -webkit-transform: rotateX(-15deg) rotateY(90deg); }
    30%{ -webkit-transform: rotateX(-12deg) rotateY(108deg); }
    40%{ -webkit-transform: rotateX(-6deg) rotateY(144deg); }
    50%{ -webkit-transform: rotateX(0deg) rotateY(180deg); }
    60%{ -webkit-transform: rotateX(6deg) rotateY(216deg); }
    70%{ -webkit-transform: rotateX(12deg) rotateY(252deg); }
    75%{ -webkit-transform: rotateX(15deg) rotateY(270deg); }
    80%{ -webkit-transform: rotateX(12deg) rotateY(288deg); }
    90%{ -webkit-transform: rotateX(6deg) rotateY(324deg); }
    100%{ -webkit-transform: rotateX(0deg) rotateY(360deg); }
}
@keyframes rotateCircle {
    0%{ transform: rotateX(0deg) rotateY(0deg); }
    10%{ transform: rotateX(-6deg) rotateY(36deg); }
    20%{ transform: rotateX(-12deg) rotateY(72deg); }
    25%{ transform: rotateX(-15deg) rotateY(90deg); }
    30%{ transform: rotateX(-12deg) rotateY(108deg); }
    40%{ transform: rotateX(-6deg) rotateY(144deg); }
    50%{ transform: rotateX(0deg) rotateY(180deg); }
    60%{ transform: rotateX(6deg) rotateY(216deg); }
    70%{ transform: rotateX(12deg) rotateY(252deg); }
    75%{ transform: rotateX(15deg) rotateY(270deg); }
    80%{ transform: rotateX(12deg) rotateY(288deg); }
    90%{ transform: rotateX(6deg) rotateY(324deg); }
    100%{ transform: rotateX(0deg) rotateY(360deg); }
}

@-webkit-keyframes rotateCube {
    0%{ -webkit-transform: rotateX(0deg) rotateY(0deg); }
    100%{ -webkit-transform: rotateX(0deg) rotateY(-720deg); }
}
@keyframes rotateCube {
    0%{ transform: rotateX(0deg) rotateY(0deg); }
    100%{ transform: rotateX(360deg) rotateY(-720deg); }
}

@-webkit-keyframes rotatebook {
    0%{ -webkit-transform: rotateX(0deg) rotateY(0deg); }
    100%{ -webkit-transform: rotateX(0deg) rotateY(-720deg); }
}
@keyframes rotatebook {
    0%{ transform: translateZ(-200px) rotateX(0deg) rotateY(0deg); }
    25%{ transform: translateZ(-200px) rotateX(-30deg) rotateY(-90deg); }
    50%{ transform: translateZ(-200px) rotateX(0deg) rotateY(-180deg); }
    75%{ transform: translateZ(-200px) rotateX(30deg) rotateY(-270deg); }
    100%{ transform: translateZ(-200px) rotateX(0deg) rotateY(-360deg); }
}