@import "../helpers/reset";
@import "../helpers/parameters";

//首页颜色
$indexColor: #36898C;

.banner {
  position: relative;
  display: block;
  padding: 16px 0;
  font-size: 0;
  //background-color: white;
  //border-radius: 0 0 2px 2px;
  //box-shadow: 2px 4px 2px rgba(53, 53, 53, 0.43);

  .logo {
    display: inline-block;
    padding: 0 16px;
    width: 300px;
    vertical-align: middle;

    @media all and (max-width: $firstBodyWidth) {
      width: 250px;
    }

    @media all and (max-width: $secondBodyWidth) {
      width: 180px;
    }

    @media all and (max-width: $thirdBodyWidth) {
      max-width: 100px;
    }
  }

  nav {
    display: inline-block;
    width: 660px;
    font-size: 16px;
    text-align: right;
    vertical-align: middle;

    %navListStyle {
      min-width: 80px;
      line-height: 40px;
      font-size: 20px;
      text-align: center;
      color: white;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: $indexColor;
      }

      @media all and (max-width: $secondBodyWidth) {
        min-width: 60px;
      }

      @media all and (max-width: $thirdBodyWidth) {
        font-weight: normal;
      }
    }

    .list {
      & > li {
        position: relative;
        display: inline-block;
        vertical-align: top;

        @extend %navListStyle;

        i.iconfont {
          display: inline-block;
          transition-duration: 500ms;
          transition-timing-function: cubic-bezier(.2, .1, .5, 1.5);
          -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
        }

        &:hover {
          & > i.iconfont {
            -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
          }

          & > .second {
            //display: block;
            -webkit-transform: none;
            transform: none;
          }
        }

        & > .second {
          //display: none;
          position: absolute;
          right: 0;
          top: 40px;
          min-width: 80px;
          border-radius: 0 0 6px 6px;
          z-index: 2;

          transition-duration: 300ms;
          transition-timing-function: linear;
          transform-origin: right top;
          transform-style: preserve-3d;
          perspective: 1000px;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);

          li {
            position: relative;
            display: block;
            padding: 0 8px;
            color: $indexColor;
            background-color: white;
            white-space: nowrap;

            transform-origin: left center;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(.2, .1, .8, 1.2);;

            &:nth-child(1) {
              //border-radius: 6px 6px 0 0;

              //为第一个子元素添加箭头
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: -11px;
                right: 34px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px;
                border-top-color: rgba(0, 0, 0, 0);
                border-right-color: rgba(0, 0, 0, 0);
                border-left-color: rgba(0, 0, 0, 0);
                border-bottom-color: white;

                transition-duration: .3s;
                transition-timing-function: cubic-bezier(.2, .1, .8, 1.2);;
              }

              &:hover {
                &:before {
                  border-bottom-color: $indexColor;
                }
              }
            }

            &:nth-last-child(1) {
              border-radius: 0 0 6px 6px;
            }

            //上部横线
            &:not(:nth-child(1)):after {
              content: '';
              position: absolute;
              display: block;
              width: calc(100% - 16px);
              height: 1px;
              background-color: rgba(55, 148, 184, 0.08);
              top: 0;
            }

            &:hover {
              color: white;
              background-color: $indexColor;
              -webkit-transform: rotateX(10deg) rotateY(-10deg) translateZ(20px) translateX(5px);
              transform: rotateX(10deg) rotateY(-10deg) translateZ(20px) translateX(5px);
            }

            @media all and (max-width: $thirdBodyWidth) {
              box-sizing: border-box;
              width: 100%;
              overflow: hidden;
            }
          }

          @media all and (max-width: $thirdBodyWidth) {
            left: 0;
          }
        }

        @media all and (max-width: $thirdBodyWidth) {
          box-sizing: border-box;
          margin: 8px;
          width: calc(50% - 24px);
          background-color: white;
          color: $indexColor;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: $indexColor;
        text-decoration: underline;
      }

      @media all and (max-width: $thirdBodyWidth) {
        color: $indexColor;

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media all and (max-width: $firstBodyWidth) {
      width: $secondBodyWidth - 2 * 16px - 250px;
    }

    @media all and (max-width: $secondBodyWidth) {
      width: $thirdBodyWidth - 2 * 16px - 180px;
    }

    @media all and (max-width: $thirdBodyWidth) {
      width: 100%;
      text-align: center;
      transition-duration: .3s;
      transform-origin: top center;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);

      &:hover {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
  }

  .menu {
    display: none;
    position: absolute;
    top: 16px;
    right: 0;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    vertical-align: top;

    //模拟点击打开
    &:hover {
      & + nav {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
    }

    //线宽
    $lineWidth: 4px;
    $top: (40px - $lineWidth * 3) / 4;
    .line {
      position: absolute;
      left: 0;
      width: 100%;
      height: $lineWidth;
      border-radius: 2px;
      background-color: white;

      &:nth-child(1) {
        top: $top;
      }

      &:nth-child(2) {
        top: $top * 2 + $lineWidth;
      }

      &:nth-child(3) {
        top: $top * 3 + $lineWidth * 2;
      }
    }

    @media all and (max-width: $thirdBodyWidth) {
      display: inline-block;
    }
  }
}