@import "../helpers/reset";
@import "../components/sortBtn";
@import "../helpers/_mixins";
@import "../helpers/_parameters";

.pic-box{
  @include flex;
  @include align-items-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 5px;
  .pic-padding{
    @include flex;
    @include flex-direction-column;
    box-sizing: border-box;
    padding: 5px;
    width: 20%;
    outline: none;
    text-decoration: none;
    .pic-si{
      @include flex;
      position: relative;
      border-radius: 5px;
      transform-origin: center center;
      transition-duration: 500ms;
      transform-style: preserve-3d;
      transition-timing-function: cubic-bezier(.1,.4,.9,1.3);
      &:hover{
        transform: scale(.95);
      }
      .pic-shadow{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        box-shadow:$picShadow;
        transform-origin: center center;
        transition-duration: 500ms;
        transform-style: preserve-3d;
        transition-timing-function: cubic-bezier(.1,.4,.9,1.3);
        &:hover{
          box-shadow: $picHoverShadow
        }
      }
      img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
    .pic-title{
      @include flex;
      @include justify-content-center;
      @include align-items-center;
      padding: 5px 0;
      color: #f3fcff;
      font-size: 14px;
      text-shadow: 2px 2px 1px rgba(0,0,0,.8);
    }
  }
}

@import "../layouts/pictureWall";