html
  body
    h1 flex&#x5E03;&#x5C40;&#x5C55;&#x793A;
    h2 1&#x3001;display&#x58F0;&#x660E;&#xFF1A;
    pre.
      
    h2 2&#x3001;&#x5B9A;&#x4E49;&#x5B50;&#x5143;&#x7D20;&#x6392;&#x5217;
    p
      | &#x76EE;&#x524D;&#x6709;&#x4E24;&#x79CD;&#x5199;&#x6CD5;&#xFF0C;&#x65B0;&#x7684;&#x5199;&#x6CD5;
      em flex-direction
      | &#x548C;&#x65E7;&#x7684;&#x5199;&#x6CD5;
      em box-orient + box-direction
    pre.
      
    h3 &#x4EE3;&#x7801;&#x5C55;&#x793A;&#x21E9;
    pre.
      
    h3 &#x9875;&#x9762;&#x6548;&#x679C;&#x21E9;
    p &amp;lt;div&amp;gt;&amp;lt;/div&amp;gt;
