@import "highlight-css/tomorrow-night";
@import "../helpers/parameters";

//代码样式
h1 {
  margin: 8px 0;
  line-height: 30px;
  font-size: 24px;
  color: #333;
}

h2 {
  margin: 30px 0 8px 0;
  line-height: 28px;
  font-size: 22px;
  font-weight: normal;
  color: #666;
}

h3 {
  margin: 8px 0;
  line-height: 26px;
  font-size: 20px;
  font-weight: normal;
  color: #666;
}

pre {
  margin: 8px 0;
  padding: 14px;
  line-height: 1.4em;
  font-size: 14px;
  color: white;
  border-radius: 0 0 6px 6px;
  background-color: rgba(23, 24, 25, 0.96);

  code {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;

    &.cols-6 {
      display: inline-block;
      box-sizing: border-box;
      padding: 6px;
      width: 50%;
      border-radius: 0 0 6px 6px;
      vertical-align: top;
      background-color: #303030;

      &.cols-6:not(:nth-last-child(1)) {
        margin-right: 14px;
        width: calc(50% - 14px);
      }
    }
  }
}

p {
  line-height: 22px;
  font-size: 16px;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

p, span, h1, h2, h3, b, pre, code {
  &::selection,
  &::-webkit-selection {
    color: #fff;
    background: $primary-clr;
  }
}


