h1 flex布局展示
h2 1、display声明：
pre
    code.css
        | display: -moz-box;
        | display: -ms-flexbox;
        | display: -webkit-box;     /* 1:一般只兼容这三个 */
        | display: -webkit-flex;    /* 2:一般只兼容这三个 */
        | display: flex;            /* 3:一般只兼容这三个 */
h2 2、定义子元素排列
p
    | 目前有两种写法，新的写法
    b flex-direction
    | 和旧的写法
    b box-orient + box-direction
pre
    code.css
        | -moz-box-orient: vertical;
        | -moz-box-direction: normal;
        | -webkit-box-orient: vertical; /* #####一起##### */
        | -webkit-box-direction: normal;/* #####使用##### */
        | -webkit-flex-direction: column;
        | flex-direction: column;
h3 代码展示⇩
pre
    code.html
        | &lt;div class="tex"&gt;zhoujingyu&lt;/div&gt;
pre
    code.javascript
        | var a = 1;
        | for (var i = 0; i &lt; a; i++){
        |   //do something
        | }
h3 页面效果⇩
