<h1>flex布局展示</h1>
<h2>display声明：</h2>
<pre class="language-css">
    <code>
        <span class="property">display</span><span class="punctuation">: </span><span class="value">-webkit-box</span><span class="punctuation">;</span>
        <span class="property">display</span><span class="punctuation">: </span><span class="value">-moz-box</span><span class="punctuation">;</span>
        <span class="property">display</span><span class="punctuation">: </span><span class="value">-ms-flexbox</span><span class="punctuation">;</span>
        <span class="property">display</span><span class="punctuation">: </span><span class="value">-webkit-flex</span><span class="punctuation">;</span>
        <span class="property">display</span><span class="punctuation">: </span><span class="value">flex</span><span class="punctuation">;</span>
    </code>
</pre>
