doctype html
html
   include ../common/layout
   link(rel='stylesheet',href='/dist/css/pages/index.css')
   body
      header.banner
         img.logo(src="/img/svg/glasses.svg")
         p 37487ksmfdl0932sjfkms

