doctype html
html(lang="zh-cn")
    include ../common/layout
    link(rel='stylesheet',href='/dist/css/pages/index.css')
    body
        include ../components/header
        main
            div.card
                div.cell
                    div.header 前端笔记
                    div.body
                        ol.note
                            li
                                a(href='/note?name=flex') flex
                            li
                                a(href='/note?name=defineProto') defineProto
                            li
                                a(href='/note?name=es6') es6
                            li
                                a(href='/note?name=amd cmd commonJs') amd cmd commonJs
                            li
                                a(href='/note?name=node') node
                    div.footer
                        a.more(href='/note') 查看所有
                div.cell
                div.cell
                div.cell
                div.cell
                div.cell
                div.cell


