doctype html
html
   include ../common/layout
   link(rel='stylesheet',href='/dist/css/pages/pictureWall.css')
   script(src='/dist/js/pages/pictureWall.js')
   body
      div#picBox.pic-box
      include ../components/sortBtn


