// 这是一个关于flex布局的文件
// 这里可以获取各种flex的各种兼容属性

// 弹性布局
%flex_display {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex_flex($num:1) {
  @if ($num == 0) {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
  } @else {
    -webkit-box-flex: $num;
    -webkit-flex: $num;
    flex: $num;
  }
}

//定义子元素排列
//$direction:row(横排)，column（竖排）
//$reverse：false（不反转），true（反转）
//默认为横排，不反转
@mixin flex_direction($direction:row,$reverse:false) {
  @if ($direction == row) {
    -webkit-box-orient: horizontal;
    @if ($reverse == true) {
      $direction: row-reverse;
      -webkit-box-direction: reverse;
    } @else {
      -webkit-box-direction: normal;
    }
  } @else if ($direction == column) {
    -webkit-box-orient: vertical;
    @if ($reverse == true) {
      $direction: column-reverse;
      -webkit-box-direction: reverse;
    } @else {
      -webkit-box-direction: normal;
    }
  }

  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

//子元素换行情况
//支持属性值：nowrap、wrap、wrap-reverse
//默认为wrap
@mixin flex_wrap($wrap:wrap) {
  @if ($wrap == nowrap) {
    -webkit-box-lines: single;
  } @else if ($wrap == wrap) {
    -webkit-box-lines: multiple;
  } @else if ($wrap == wrap-reverse) {
    -webkit-box-lines: multiple;
    -webkit-box-direction: reverse;
  }

  -webkit-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

//横向排列布局
//flex-start    默认值。项目位于容器的开头
//flex-end      项目位于容器的结尾
//center        项目位于容器的中心
//space-between 项目位于各行之间留有空白的容器内
//space-around  项目位于各行之前、之间、之后都留有空白的容器内
@mixin flex_justify($align:flex-start) {
  $box-pack: start;
  @if ($align == flex-end) {
    $box-pack: end;
  } @else if ($align == center) {
    $box-pack: center;
  } @else if ($align == space-between) {
    $box-pack: justify;
  } @else if ($align == space-around) {
    $box-pack: justify;
  }

  -webkit-box-pack: $box-pack;
  -webkit-justify-content: $align;
  justify-content: $align;
}

//竖向排列布局
//stretch     默认值。项目被拉伸以适应容器
//center      项目位于容器的中心
//flex-start  项目位于容器的开头
//flex-end    项目位于容器的结尾
//baseline    项目位于容器的基线上
@mixin flex_align($align:stretch) {
  $box-align: stretch;
  @if ($align == flex-start) {
    $box-align: start;
  } @else if ($align == flex-end) {
    $box-align: end;
  }
  -webkit-box-align: $box-align;
  -webkit-align-items: $align;
  align-items: $align;
}

//文字内容占$line行，剩余后面加"..."
@mixin flex_line($line:1) {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}