@import "parameters";
@import "../components/header";

html, body, p, a, ul, li, input, h1, h2, pre {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1000px;
  font-size: 16px;
  //background-image: url(/img/common/bg4.png);
  background-size: 100px auto;
  background-repeat: repeat;
  background-color: rgb(141, 206, 237);
  overflow-x: hidden;

  @media all and (max-width: $firstBodyWidth) {
    width: 800px;
  }

  @media all and (max-width: $secondBodyWidth) {
    width: 500px;
  }

  @media all and (max-width: $thirdBodyWidth) {
    max-width: 100%;
  }
}

body, input, button {
  //font-family: '隶书', 'Microsoft YaHei', serif;
  //font-family: '华文彩云', 'Microsoft YaHei', serif;
  //font-family: '方正兰亭超细黑简�?', 'Microsoft YaHei', serif;
  //font-family: '方正舒体', 'Microsoft YaHei', serif;
  font-family: '华文楷体', '宋体', 'Microsoft YaHei', serif;

}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //-webkit-user-modify:read-write-plaintext-only;
  color: #333;
  text-decoration: none;
}

@media all and (min-width: $thirdBodyWidth + 1px) {
  a:hover {
    color: $primary-clr;
    text-decoration: underline;
  }
}

a:visited {
  color: #ccc;
}

ul {
  -webkit-text-size-adjust: none;
  list-style: none;
}

ol {
  margin: 0;
  padding-left: 16px;
  list-style-type: cjk-heavenly-stem;
  list-style-position: inside;
}