html,body,p,a,ul,li,input{
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  background-image: url(/img/common/bg4.png);
  background-size: 100px auto;
  background-repeat: repeat;
}
body,input,button{
  font-family: "Microsoft YaHei",serif;
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
}
a,button,input,textarea{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  //-webkit-user-modify:read-write-plaintext-only;
}